body{

    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color:black;
    transition: 0.3s;
    



}

/* Acima eu determino as cores que serão o padrão da página, com a possibilidade de serem modificadas */

body.dark-mode{

    background-color: #121212;
    color:white;


}

/* Acima, é determinado as cores para o tema escuro da página */


header{
    display:flex;
    text-decoration:none;
}

header li{

    list-style-type: none;

}

main{

    flex:1;

}

footer a img{

    width: 50px;
    height: 50px;

}